services:
  python_akshare:
    build: ../python_akshare
    container_name: python_akshare
    ports:
      - "8080:8080"
    environment:
      - TZ=Asia/Shanghai
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
